.bienvenidos{
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.columnas .bienvenidos h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}